{
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "env": {
      "es6": true,
      "browser": true
  },
  "extends": ["airbnb", "eslint:recommended", "react-app"],
  "plugins": [
      "react",
      "jsx-a11y",
      "import",
      "emotion"
  ],
  "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "jsx-a11y/href-no-hash": "off", 
      "no-console": "warn",
      "indent": [
          "error",
          2, 
          { "SwitchCase": 1 }
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "semi": [
          "error",
          "always"
      ]
  }
}