@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";

.bio {
  &::before {
    // this fixes a scrolling bug by rendering as a newline
    white-space: pre-wrap;
    content: "\A";
  }
}

.card {
  box-shadow: none;

  figure {
      margin: auto;
      padding-bottom: 1em;
      
      &.apache {
        width: 45%;
      }

      &.collatz {
        width: 75%;
      }
  }
}

.dark-background {
  background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
  // background-image: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
  // #333 and #272727 are good too
}

.content, .section {
  margin: auto;
}

.content {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.italic-text {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
}

.normal-text {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}