@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";
  
.has-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  padding: 20% 0;
}

.bio,
.education {
  &::before,
  &::after {
    // this fixes a scrolling bug by rendering as a newline
    white-space: pre-wrap;
    content: "\A";
  }
}

.card {
  box-shadow: none;

  figure {
      margin: 0 auto 1em;
      
      &.apache {
        width: 45%;
      }

      &.collatz,
      &.education {
        width: 75%;
        border: 1px solid lighten(black, 18%);
        border-radius: 1%;
      }

      &.education {
        padding: 1em;
        border: 1px solid $grey-lighter;
      }
  }

  .title {
    a,
    a:hover {
      color: $dark;
    }

    .light-title,
    .light-title:hover {
      color: $white;
    }
  }

  .has-text-light a:hover {
    color: $white;
  }
}

.dark-background {
  background: #000;
  background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
}

.content, 
.section {
  margin: auto;
}

.content {
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 1.5em;
  }
}

.bio {
  .dropcap {
    font: bold 1.6em 'Playfair Display';
  }

  h1.bio-title {
    margin: 50px;
    font-size: 100px;
  }

  p {
    max-width: 950px;
    margin: auto;
    text-align: justify;
  }
}

.italic-text {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
}

.normal-text {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.icons {
  i {
    display: block;
    font-size: 4em;
    color: $dark;
    margin: .3em 0;
    
    &:hover {
      color: $blue;
    }
  }
}

.border {
  border-top: 2px solid $dark;
}

.border-light {
  border-top: 2px solid $light;
}

footer {
  padding: 2em;
}
