@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";
@import "../node_modules/antd/lib/tooltip/style/index.css";
  
.has-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text { padding: 20% 0; }

.card {
  box-shadow: none;

  figure {
    margin: 0 auto 1em;
    transition: .2s ease-in-out;

    &:hover { transform: scale(1.1); }

    &.image {
      width: 75%;
      border: 1px solid lighten(black, 18%);
      border-radius: 1%;
    }
    
    &.apache { 
      width: 45%; 
      border: none;
    }
    
    &.education {
      padding: 1em;
      border: 1px solid $grey-lighter;
    }
    
    img[src="collatz.gif"] { border: 1px solid lighten(black, 25%); }

    img[src="drumkit.png"] { border-radius: 1%; } 
  }

  .title {
    a,
    a:hover { color: $dark; }

    .light-title,
    .light-title:hover { color: $white; }
  }

  .has-text-light a:hover { color: $white; }
}

.dark-background {
  background: #000;
  background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
}

.content, 
.section {
  margin: auto;
}

.content {
  h1 { font-size: 4em; }
  
  h2 { font-size: 1.5em; }
}

.bio {
  .dropcap { font: bold 1.6em 'Playfair Display'; }

  .animate-bio { transform: scale(1.25); }
  
  h1.bio-title {
    margin: 50px;
    font-size: 80px;
    transition: transform 1s .75s;
  }
  
  p {
    max-width: 950px;
    margin: auto;
    text-align: justify;
  }
}

.level {
  background-color: $light;
  height: 100px;

  img { height: 35px; }

  &:not(:last-child) { margin-bottom: 0; }
}

#dashboard {
  display: flex;
  background: url('assets/github-large.png') no-repeat 50% 49.7%;
  position: relative;
  
  #chart { 
    margin: 2em auto;
    min-width: 80%;
    max-width: 100%;
  }

  .app-counter {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;

    .app-type {
      text-transform: uppercase;
    }

    .app-count {
      font-weight: bold;
      font-size: 3em;
      line-height: 1.1em;
    }

    &.node {
      top: 5%;
      left: 5%;
    }

    &.react {
      top: 5%;
      right: 5%;
    }
    
    &.mongo {
      bottom: 5%;
      left: 5%;
    }
    
    &.express {
      bottom: 5%;
      right: 5%;
    }
  }
}

.italic-text, 
.normal-text,
.contact-heading { font-family: 'Playfair Display', serif; }

.italic-text {
  font-style: italic;
  font-weight: 700;
}

.normal-text { font-weight: 900; }

.animate-contact { transform: translateX(500px); }

.contact-heading { 
  font-size: 3em; 
  margin-top: 1em;
  position: relative;
  right: 500px;
  transition: 800ms 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icons {
  width: 75px;

  i {
    display: block;
    width: 75px;
    font-size: 4.5em;
    color: $dark;
    margin: .3em 0;
    transition: transform .3s;

    &:hover { transform: scale(1.08); }
  }

  .fa-envelope-o { color: darken($yellow, 15%); }

  .fa-linkedin-square { color: $blue; }
}

.border { border-top: 2px solid $dark; }

.border-light { border-top: 2px solid $light; }

footer { padding: 2em; }

@media (min-width: 1190) {
  background: url('assets/github-large.png') no-repeat 50% 49.7%;
}

@media (max-width: 768px) {
  .level {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    & .level-item {
      flex-basis: 150px;
      flex-shrink: 0;
      padding: 1em;
      margin-bottom: 0;
    }
  }
  
  #dashboard { 
    background: url('assets/github-small.png') no-repeat 50% 49.5%;
  }

  .icons { padding-bottom: 1em; }
}

@media (max-width: 470px) {
  #dashboard {
    background: transparent;
  }
}
